<div class="example-container" >
   <form [formGroup]="regform">
    <h1>Register</h1>
    <mat-form-field appearance="standard" >
      <mat-label> Email address</mat-label>
      <input matInput placeholder="kat@example.com" formControlName="email" >
    </mat-form-field>
    <br/>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput formControlName="pass" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="standard">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confpass"  [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br/>
    <mat-checkbox class="example-margin " formControlName="allowinglive">Allow scheduling live stream</mat-checkbox>
    <br/>
    <button mat-stroked-button color="primary" (click)="registerclick()">Register</button>  
    &nbsp; &nbsp; &nbsp; &nbsp;
    <button mat-stroked-button color="primary" (click)="loginclick()" >Login</button>
   </form>
  </div>
