<!-- 

  <div> <mat-grid-list cols="4"  >
    <mat-grid-tile *ngFor="let video of video$ | async">
        <mat-card app-player matRipple class="example-card">
            <a href="#">
                <img mat-card-image [src]="video.snippet.thumbnails.medium.url" >
            </a>
             <div id="duration"> {{ video.contentDetails.length }} </div> 
            <mat-card-content>
                <h5> {{ video.snippet.title }} </h5>
                <p> {{ video.snippet.channelTitle }} </p>
                <p> {{ video.statistics.viewCount }} views . {{ video.snippet.relativeTime }} </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> 
</div>  -->


 <div class="flextype" >
  <mat-card class="example-card"  *ngFor="let video of video$ | async">
   <a href="#">
    <img mat-card-image [src]="video.snippet.thumbnails.medium.url" >
    <div id="duration"> {{ video.contentDetails.length }} </div> 
  </a>
  
    <mat-card-content>
      <h5>{{video.snippet.title}}</h5>
      <p>{{video.snippet.channelTitle}}</p>
      <p>{{video.statistics.viewCount}} views .{{video.snippet.relativeTime}}</p>
    </mat-card-content>
  </mat-card>
</div>


  